@import "mixins/mixins";
@import "common/var";

@include b(checkbox) {
  color: $--color-text-regular;
  font-size: $--font-size-base;
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin-right: 30px;

  @include e(input) {
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    line-height: 1;
  }

  @include e(inner) {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    border: $--border-base;
    border-radius: 2px;

    &::after {
      content: "";
      position: absolute;
      top: 1px;
      left: 4px;
      border: 1px solid $--color-white;
      border-left: 0;
      border-top: 0;
      width: 3px;
      height: 7px;
      transform: rotate(45deg) scaleY(0);
      transition: transform .15s ease-in .05s;
      transform-origin: center;
    }
  }

  @include e(original) {
    opacity: 0;
    outline: none;
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
    margin: 0;
  }

  @include e(label) {
    padding-left: 10px;
    line-height: 14px;
    font-size: 14px;
  }

  & .is-checked {
    .w-checkbox__inner {
      border-color: $--color-primary;
      background-color: $--color-primary;

      &::after {
        transform: rotate(45deg) scaleY(1);
      }

    }
  }

  &.is-checked {
    .w-checkbox__label {
      color: $--color-primary;
    }
  }
}
